body {
    background-color: lightgreen;
}
.extra {
    font-weight: bold;
    font-size: 20px;
}
h5 {
    font-size: medium;
    font-weight: lighter;
}
ul li {
    color: blue;
}
ol li {
    color: red;
}